body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #5f9341;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 20px;
}

li {
    height: fit-content;
    background: #5f9341;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

li a {
    text-decoration: none;
    min-width: 200px;
    max-width: 300px;
    
    border-radius: 5px;
    
    color: white;
    font-weight: 700;
    
}
li a:hover {
    text-decoration: none;
}